@font-face {
    font-family: "Spincycle";
    src: url("./fonts/spincycle_ot.otf") format("truetype");
  }

@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/SourceSansPro-Semibold.otf") format("truetype");
}

@font-face {
    font-family: "Source Sans Pro2";
    src: url("./fonts/SourceSansPro-Regular.otf") format("truetype");
}

@font-face {
    font-family: "Source Sans Pro3";
    src: url("./fonts/SourceSansPro-Bold.otf") format("truetype");
}

@font-face {
    font-family: "Source Sans Pro4";
    src: url("./fonts/SourceSansPro-Light.otf") format("truetype");
}

@font-face {
    font-family: "Source Sans Pro5";
    src: url("./fonts/SourceSansPro-ExtraLight.otf") format("truetype");
}

.nav {
    font-family: "Source Sans Pro";
}

.content {
    font-family: "Source Sans Pro", sans-serif;
}

.content2 {
    font-family: "Source Sans Pro5", sans-serif;
}

.section3 {
    font-family: "Source Sans Pro";
}

body {
    margin: 0;
    height: 100%;
}

/*Header Section*/
header {
    background-image: url("./images/Object.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start;
    height: 140vh;
    margin: 0;
    padding: 0;
}

header .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header .logo {
    flex-grow: 0.5;
}

header a {
    border: 20px solid transparent;
    flex-shrink: 2;
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #C271FF;
}

header .logo {
    padding: 40px;
}

header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: white;
}

.content h1 {
    font-size: 200px;
}

.content div {
    font-size: 20px;
    margin-top: -150px;
    
}

.content button {
    width: fit-content;
    padding: 20px;
    border-radius: 50px;
    background-color: #C271FF;
    color: white;
    margin-top: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.content2 h1 {
    display: flex;
    justify-content: center;
    margin-top: 350px;
}

.content2 h1 .col {
    color: #C271FF;
    font-size: 34px;
    font-family: "Source Sans Pro3";
}

.content2 .staff {
    display: flex;
    flex-direction: row;
    gap: 300px;
    justify-content: center;
    margin-top: 180px;
}

.third {
    border-radius: 100px;
}

.staff .txt {
    text-align: center;
}

.staff .txt2 {
    text-align: center;
}

.staff .txt3 {
    text-align: center;
}

.staff .txt4 {
    text-align: center;
}

/*Main Section*/

main .section1 {
    background-color: #C271FF;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .section1 div {
    padding: 150px;
    margin-left: 400px;
    margin-bottom: 30px;
}

main .section1 blockquote {
    margin-top: -150px;
    margin-left: 200px;
    color: white;
    font-family: "Source Sans Pro5";
    font-size: 20px;
}

.purr {
    color: #C271FF;
}

.section2 {
    padding: 50px;
    height: max-content;
    display: flex;
    flex-direction: column;
    font-family: "Source Sans Pro";
    margin-bottom: 100px;
}

.section2 .videos {
    display: flex;
    justify-content: center;
    margin-right: 130px;
    margin-left: 340px;
}

.section2 h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.videos .vid1 {
    flex-direction: column;
    text-align: justify;
}

.videos .vid2 {
    flex-direction: column;
    text-align: justify;
}

.videos .vid3 {
    flex-direction: column;
    text-align: justify;
}

.videos .vid4 {
    flex-direction: column;
    text-align: justify;
}

.author1 cite {
    color: #C271FF;
}

.author2 cite {
    color: #C271FF;
}

.author3 cite {
    color: #C271FF;
}

.author4 cite {
    color: #C271FF;

}

.wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -40px;
    gap: 10px;
}

.wrap1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -40px;
    gap: 10px;
}

.wrap2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -40px;
    gap: 10px;
}

.wrap3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -40px;
    gap: 10px;
}

.rate3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -40px;
    gap: 90px;
    margin-top: 10px;
}

.rate3 span {
    color: #C271FF;
}

.section3 {
    background-color: #071629;
    height: max-content;
    color: white;
    padding: 50px;
}

.section3 h2 {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.mem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.but {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.but button {
    padding: 20px;
    color: white;
    background-color: #C271FF;
    border-radius: 50px;
}